
#index-page{
    .section-header{
        margin-bottom: 24px;
    }
    h2.section-title {
        margin-bottom: 0;
        @media screen and (max-width: 450px) {
            font-size: 32px;
        }
    }
}