#project-page,#news-page {
    // Base container styles
    .filter-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 20px;

        a {
            background: #fff;
            padding: 2px 1rem;
            border-radius: 1rem;
            line-height: 24px;
            text-align: center;
            border: 1px solid var(--dark-text);
            color: var(--dark-text);
            &.active {
                border: 1px solid #e65d3e;
                color: #e65d3e;
            }
        }
    }
}
